<% campaign = campaign.decorate %>
<div id="<%= dom_id campaign %>" class="bg-white rounded shadow-md p-4 mb-20">
  <img src="https://placehold.co/400x200/eeeeee/999999?text=ektaka&font=roboto" alt="Campaign Image" class="w-full rounded">
  <%= link_to campaign_path(id: campaign.id) do %>
    <h1 class="text-xl font-semibold my-2">
      <%= campaign.short_title %>
    </h1>
  <% end %>
  <p class="mb-4 md:h-24 h-32">
    <%= campaign.short_description %>
  </p>
  <p class="mb-4">
    <%= render 'shared/progress_bar', completed: campaign.progress %>
  </p>
  <p class="mb-4">
    <%= campaign.goal_description %>
  </p>
  <%= render 'shared/1taka' %>
</div>
