<div id="<%= dom_id campaign %>">
  <p>
    <strong>Title:</strong>
    <%= campaign.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign.description %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= campaign.goal %>
  </p>

  <p>
    <%= link_to "Show this campaign" , campaign %>
  </p>

</div>